{% extends "layout/base.html" %}
        {% block title %}{{ sub_category.name }}{% endblock %}
        {% block content %}
            <h2>hi</h2>
            <div class="info">
                <a class="aspoiler{{ forloop.counter }}" href="javascript:fspoiler{{ forloop.counter }}()">
                    <div class="nodecor"> {{ mainapp.sub_category }} </div></a><div class="dday"> {{ mainapp.update_time|date:"d.m.Y H:i:s" }} </div>
                    <div id="spoiler{{ forloop.counter }}" style="display:none">
                        <script type="text/javascript">
                            function fspoiler{{ forloop.counter }}() {obj = document.getElementById("spoiler{{ forloop.counter }}"); if( obj.style.display == "none" ) { obj.style.display = "block"; } else { obj.style.display = "none"; }}
                        </script>
                    </div>
            </div>
        {% endblock %}